<div class = "s3 w-logo"> <img alt = "" src = "/ aktywa /" / W-logo.png> </div>

<div class = "S1 W-l">  </div>

<div class = "s8 w-msg">
  <h2> witamy w kompleksie Hotel-Restaurant & laquo, Warszawa ! </h2>

  <p class = "W-P1"> & laquo, Warszawa   Ta szlachetna elegancja i nowoczesny serwis, będzie doświadczenie od pierwszej do ostatniej minuty wakacjach. </p>

  <p class = "W-P2"> Jesteśmy przekonani, że nasz zespół specjalistów sprawi, że wizyta niezapomnianą podróż do miejsca opieki, bezwzględnego jakości i żywych doznań. Dla każdego odwiedzającego  Warszawie , jest jego największa wartość, która tworzy nową historię dziś </P>.
  <- <P class = "W-p3"> <a href="/contact-us"> Zobacz mapę dojazdu </a> lub <a href="/about-hotel"> dowiedzieć się więcej o hotelu </> </p> ->

  <p class = "W-P3 link-linia"> <a href="/about-hotel"> szczegóły hotelu </a> <a href="http://warszawa.virtual.ua"> wirtualna </> <a href="/contact-us"> Nasza lokalizacja </a> </p>
</div>