<html>
    <head>
      <link href="/assets/application.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/cms/articles.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/cms/banners.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/cms/galleries.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/cms/rooms.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/cms/services.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/cms/vacancies.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/flexslider.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/jquery.fancybox.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/media-tablets.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/skin.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/style.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    </head>

    <body>
      <%= yield %>
    </body>
</html>
